body {
    background-color: black;
    color: white;
    font-family: 'rodondo', sans-serif;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 24px;
}

a {
    font-size: 32px;
    text-decoration: none;
}

/* ----- BARRA DE NAVEGACIÓN ----- */
nav {
    background-color: #111;
    padding: 20px;
}

nav a {
    color: white;
    margin-left: 24px;
    margin-right: 24px;
}

nav div {
    margin: auto;
}

.card img{
    border-radius: 15%;
}

/* ----- FOOTER ----- */
footer {
    background-color: #111;
}

footer img {
    border-radius: 15%;
}
/* ----- FIN DE FOOTER ----- */