body {
    background-color: #000000;
    color: white;
    font-family: 'rodondo', sans-serif;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 24px;
}

a {
    font-size: 32px;
    text-decoration: none;
}

/* ----- BARRA DE NAVEGACIÓN ----- */
nav {
    background-color: #111;
    padding: 20px;
}

nav a {
    color: white;
    margin-left: 24px;
    margin-right: 24px;
}

nav div {
    margin: auto;
}

.card img{
    border-radius: 15%;
}

/* ----- FOOTER ----- */
footer {
    background-color: #111;
}

footer img {
    border-radius: 15%;
}
/* ----- FIN DE FOOTER ----- */

button{
    border: none;
    transition: .2s;
    z-index: 1;
}

.btn-1:hover {
    color: white;
    background-color: black;
}

/*
.rain {
    background: url(img/Rain-2.png);
    height: 100%;
    width: 100%;
    animation: rain .5s linear infinite;
}

.rain:before
{
    content: '';
    position: absolute;
    background-repeat: repeat;
    background: #fff;
    animation: lighting 2s linear infinite;
    opacity: 0;
}

@keyframes rain
{
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@keyframes lighting {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    21% {
        opacity: 1;
    }
    24% {
        opacity: 0;
    }
    104% {
        opacity: 0;
    }
}
*/